.navbar-default {
  background-color: #238db4;
  border-color: #237fa1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e1d8eb;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e1d8eb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #238db4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e1d8eb;
  background-color: #237fa1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #238db4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e1d8eb;
  background-color: #237fa1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e1d8eb;
  background-color: #237fa1;
}
.navbar-default .navbar-toggle {
  border-color: #237fa1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #237fa1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #e1d8eb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e1d8eb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e1d8eb;
    background-color: #237fa1;
  }
}


#sidebar{
	height:470px;
	border-style:groove;
	border-width:1px;
	border-radius:10px;
	background-color:#FFF;
        
	}
#wrapper{
	background-color:#eee;
}
#content{
	border-style:groove;
	border-width:1px;
	border-color:#999;
	background-color:#eee;
}
#content1{
    margin: 10px;
    padding: 25px;
}
*/
#footer{
	height:40px;
	background-color:skyblue;
	border:groove;
	border-color:#000;
	border-width:1px;

.navbar-brand {
    height: 90px;

}

                    #navigation{

                         list-style-type: none;
						 border-radius:20px;
                         padding-left: 10px;
                   }

				                      
